body {
  margin: 0;
  height: 100%;
}

@media(max-width: 639px) {

  /* mobile navigation bar */
  #nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #545454;
  }

  .NavElements {
    font-size: 40px;
    text-align: center;
    height: 50px;
    width: 33.33333%;
  }

  #NavLogo {
    height: 35px;
    margin-top: 7.5px;
    
  }

  /* Burger Menu */
  /* Adopted from FreeCodeCamp: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/
  
  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 0;
    bottom: 50px;
    /*Slides from bottom to top*/
    left: 0;
    background-color: #545454;
    overflow-y: hidden;
    transition: 0.5s;
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    vertical-align: middle !important;
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 20px;
    text-decoration: none;
    font-size: 50px;
    color: #C3BFBF;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }

    .overlay a {
      font-size: 20px
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* Menu Burger Animation adopted from FreeCodeCamp: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .container {
    display: inline-block;
    cursor: pointer;
    margin-top: 7px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #C3BFBF;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* Desktop Navbar */
@media(min-width: 640px) {
  #nav {
    display: flex;
    position: fixed;
    flex-direction: column-reverse;
    width: 103px;
    height: 300px;
    left: 64px;
    top: 83px;
  }

  .NavElements {
    background-color: #545454;
    height: 100px;
    width: 100px;

  }

  #NavLogo {
    height: 60px;
    margin-top: 20px;
    margin-left: 18px;
  }

  /* Burger Menu */
  /* Adopted from FreeCodeCamp: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp*/

  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 163px;
    /*Slides from bottom to top*/
    top: 0;
    background-color: #545454;
    overflow-y: hidden;
    transition: 0.5s;
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 30px;
    text-decoration: none;
    font-size: 60px;
    color: #C3BFBF;
    display: block;
    transition: 0.5s;
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }

    .overlay a {
      font-size: 20px
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* Menu Burger Animation adopted from FreeCodeCamp: https://www.w3schools.com/howto/howto_css_menu_icon.asp */
  .container {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px; 
    padding-top: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 7px;
    height: 35px;
    background-color:#C3BFBF;
    margin-top: 20px;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

 /* Nav Menu Animation */
.overlay.open {
  width: 100%;
  height: 100%;
}

.NavElements.open{
  background-color: white;
}

section {
  background-color: goldenrod;
  height: 100%;
}

#section_1{
  background-color: antiquewhite
}

/* Centering a div horizontically */
.quotes{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 50px;
}


#section_2 >div >div >img{
  height: 300px;
  display: block;
  margin: auto;
}

#section_3{
  background-color: white;
}

#section_4 > button{
  background-color: bisque
}

#section_5{
  background-color: greenyellow;
}

#section_5{
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 300px 75px;
  grid-gap: 25px;
}

#section_5> div{
  background-color: aqua;
  padding: 25px;
}

.section_5> div:last-of-type{
  grid-column: 1/2;
}

#projects_young{
  height: 600px;
  width: 300px;
  background-color: brown;
  margin: 0 auto;
  text-align: center;
}

#projects_young>img{
  height: 200px;
}

#close{
  width:50px;
  display: relative;
}


#imghobby{
  width: 150px;
}

#section_7 > div{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
  #section_7 > div >div{
    flex: 0 0 auto;
    width: 100%;
    height:100%;
    text-align: center;
  }

  .interets{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 25px;
  }

  .interets >div{
    background-color: aqua;
    padding: 30px;
}

#section_11{
  height: 50%;
}

/* Accordion CODE University */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc; 
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  #section_15{
    height: 50%;
    background-color: aqua;
  }